/.vscode
/AreaofCircle.c
/areaofsquare.c
/areaofsquare.exe
/c1.c
/c10.c
/c10.exe
/c11.c
/c11.exe
/c2.c
/c3new.c
/c3new.exe
/c4.c
/c4.exe
/c5.c
/c5.exe
/c6.c
/c6.exe
/c7.c
/c7.exe
/c8.c
/c8.exe
/c9.c
/c9.exe
/Fr Marks and Grade Program.c
/hellowld.c
/killerfirst.c
/killerfirst.exe
/nowscanf.c
/nowscanf.exe
/prateek.c
/prateek.cpp
/prateek.exe
/prateek.txt
/Projecthub
/Refull.c
/Refull.exe
/refull2.exe
/some repeting text.c
/some repeting text.exe
/sumcode.c
/try.c
/try.exe
/Variable.c